<div class="new-msg-form">
    {{input type="text" placeholder="Name" value=name class="name-input"}}
    {{input type="text" placeholder="Open" value=open class="msg-input"}}
    <button {{action 'addTicket'}}>Submit</button>
</div>